html, body {
  height: 100%;
  width: 100%;
  background: #313131;
}

* {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

p, div, h1, html, body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.ycenter {
  align-items: center;
}

.xcenter {
  justify-items: center;
}

.grey {
  color: silver;
}

.card {
  background-color: #424242;
  padding: 1rem;
  margin: auto;
  max-width: 700px;
  min-width: 40%;
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  transform: scale(1.05)
}

#author {
  font-size: 24px;
  margin-right: 0.4em;
}

.msg {
  margin-left: 3rem;
}


#timestamp {
  font-size: smaller;
}

footer {
  position: absolute;
  bottom: 0;
  margin: 1em;
}

button {
  background: #424242;
  border: none;
  padding: 0.75rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#language > svg {
  fill: #fff;
  margin-right: 0.5rem;
}

img {
  border-radius: 999px;
  margin-right: 0.67rem;
}

a {
  color: #66baff;
  text-decoration: none;
  position: relative;
}

a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  background-color: #2195f2;
}

a:hover:before {
  visibility: visible;
  width: 100%;
}

a:after {
  content: "→";
  font-size: medium;
  right: -1.25rem;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

h1 > a:after {
  top: 1em;
}

a:hover:after {
  transform: translateX(12px);
}